$dark-blue: #232c31;
$white: #fff;
$blue: #5ec6f3;
$grey-btn-color:#84939d;
$blue-btn:#5ec6f3;
$proxima-novablack: proxima_novablack;
$proxima-novargbold: proxima_nova_rgbold;
$proxima-novaextrabold: proxima_novaextrabold;
$proxima-novalight: proxima_novalight;
$proxima-novargregular: proxima_nova_rgregular;
$proxima-novasemibold: proxima_novasemibold;
$large:44px;
$medium:18px;
$small:12px;
$section-padding:70px;
$paragraph-color:#798a95;